* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ddeff8;
    height: 100vh;
}

main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
    font-family: "Helvetica Now Display", sans-serif;
    border: 1px solid white;
    background-color: white;
    padding: 8px 32px;
    color: black;
    font-size: 1.5rem;
    border-radius: 50px;
    transition: .3s ease-in-out;
}

a:hover {
    background-color: #154273;
    border-color: #154273;
    color: white;
}

form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
    padding: 1rem 2rem;
}

fieldset {
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

section {
    border: 1px solid black;
    padding: 1rem;
    margin: 1rem;
}

:root:has([value='noMarried']:checked) #yesMarried {
    display: none;
}

:root:has([value='noChildren']:checked) #hasChildren {
    display: none;
}

:root:has([value='noWill']:checked) #hasWill {
    display: none;
}
